
@font-face {
    font-family: 'temporariumregular';
    src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-webfont.eot');
    src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-webfont.woff') format('woff'),
         url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'temporariumitalic';
    src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-italic-webfont.eot');
    src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-italic-webfont.woff') format('woff'),
         url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/temporarium-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* noto-sans-sc-regular - chinese-simplified_latin */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans SC Regular'), local('NotoSansSC-Regular'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-regular.svg#NotoSansSC') format('svg'); /* Legacy iOS */
}
/* noto-sans-sc-700 - chinese-simplified_latin */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans SC Bold'), local('NotoSansSC-Bold'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-sc-v8-chinese-simplified_latin-700.svg#NotoSansSC') format('svg'); /* Legacy iOS */
}

/* noto-serif-sc-regular - chinese-simplified_latin */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif SC'), local('NotoSerifSC-Regular'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-regular.svg#NotoSerifSC') format('svg'); /* Legacy iOS */
}
/* noto-serif-sc-700 - chinese-simplified_latin */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 700;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif SC Bold'), local('NotoSerifSC-Bold'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-sc-v5-chinese-simplified_latin-700.svg#NotoSerifSC') format('svg'); /* Legacy iOS */
}


/* noto-sans-tc-regular - chinese-traditional_latin */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-regular.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}
/* noto-sans-tc-700 - chinese-traditional_latin */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans TC Bold'), local('NotoSansTC-Bold'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-sans-tc-v8-chinese-traditional_latin-700.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}

/* noto-serif-tc-regular - chinese-traditional_latin */
@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif TC'), local('NotoSerifTC-Regular'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-regular.svg#NotoSerifTC') format('svg'); /* Legacy iOS */
}
/* noto-serif-tc-700 - chinese-traditional_latin */
@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 700;
  src: url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif TC Bold'), local('NotoSerifTC-Bold'),
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://mangaedt-bkt.oss-cn-shenzhen.aliyuncs.com/fonts/noto-serif-tc-v5-chinese-traditional_latin-700.svg#NotoSerifTC') format('svg'); /* Legacy iOS */
}
